extends layout

block content
    form(action='/tasks/create' method='post')
        ul
            li
                label(for='title') Task:
                input(type='text' placeholder='Enter the task' id='title' name='title')
            li
                label(for='description') Description:
                input(type='text' placeholder='Enter the description' id='description' name='description')

            li
                label(for='due-date') Due Date:
                input(type='date' id='due-date' name='dueDate')
            li 
                label(for='priority') Priority:
                select(name='priority' id='priority')
                    option(value='Low') Low 
                    option(value='Medium') Medium
                    option(value='High') High
            li
                label(for='category') Category:
                input(type='text' placeholder='Enter the category' id='category' name='category')
            li
                input(type='submit' value='Add')