doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title ToDo App
    body
        div(className='header')
            h2 To-Do App
            h3 Hi Samudu
        block content