extends layout

block content
    if tasks_list.length
        each task in tasks_list
            div(class="item")
                div(class="item-name") #{task.title}
                if (task.due_date_formatted)
                    div(class="due-date") #{task.due_date_formatted}
                else if (task.dueDate)
                    div(class="due-date") #{task.dueDate}
                else
                    br
                div(class='priority') #{task.priority}
            br

    else
        p There are no tasks.